pre code {
    background: #4e4848;
    padding: 20px;
    color: rgb(163, 35, 30);
    overflow-x: auto;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 12px;
    border: none;
}